$font-stack: 'Hind', sans-serif;
$primary-color: #4E2846;
$secondary-color: white;
$review-bg: #8A6F8D;
$review-box: #CAA2CB;
$town-bg: #9F86A2;
$footer-bg: #5D3D85;
$footer-btn: #4F0A5E;
$footer-h6: #B965FE;
$footer-li: #8946DC;
$header-bg-img: url(/FL19_HW3/homework/img/4.jpg);
$images: ("2":"../img/5.jpg", "3":"../img/6.jpg", "4":"../img/7.jpg");