$font-stack: 'Source Sans Pro', sans-serif;
$primary-color: #DDDDDD;
$secondary-color: white;
$review-bg: #8D6F79;
$review-box: #CBA2B0;
$town-bg: #8695A2;
$footer-bg: #3D5585;
$footer-btn: #0A275E;
$footer-h6: #659AFE;
$footer-li: #3F6AD9;
$header-bg-img: url(/FL19_HW3/homework/img/0.jpg);
$images: ("2":"../img/1.jpg", "3":"../img/2.jpg", "4":"../img/3.jpg");